<div class="row h-100">
    <div class="col-12 mtb-2">
        <div class="row h-100 align-items-center">
            <div class="col-2">              
                <img class="img-fluid" alt="Spotify Logo" src="assets/images/spotify.svg">              
            </div>
            <div class="col-10 text-light no-padding">
                <div class="responsive-heading">
                    My First Static Web App                
                </div>
            </div>            
        </div>
    </div>
</div>