<div class="container-fluid h-100 app-component-container">
  <div class="row h-100">
    <div class="col-12 d-flex flex-column h-100 app-component-column">
      <div class="row top-selector">
        <div class="col-5">
          heading here
        </div>
        <div class="col-4">
        </div>        
        <div class="col-3">
            session here
        </div>        
      </div>
      <div class="row search-component-selector">
        <div class="col-12">
          search here
        </div>
      </div>      
    </div>
  </div>    
</div>
